<h1>All pets</h1>
<h2><%= link_to 'New pet', new_pet_path %></h2>
<% @pets.each do |pet| %>
<ul>
  <li><%= link_to pet.name, pet_path(pet) %></li>
  <li><%= pet.species %></li>
  <li><%= pet.address %></li>
</ul>
<% end %>
